.main-header {
    .show;
    width: 100%;
    z-index: 3000;
    .bc(var(--bg));
    padding: 0;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media only screen and (min-width:1024px) {
        top: 0;
        left: 0;
        position: fixed;
        padding: 0;
    }

    &__container {
        width: calc(100% - 1em);
        margin: 0 auto;
        .flex;
        .ai(center);
        .jc(space-between);

        @media only screen and (min-width:1024px) {
            width: calc(100% - 4em);
        }
    }

    #logo {
        @logow: 100;
        @logoh: 38;

        .show;
        color: #212121;
        .lh(0);
        width: (@logow/20em);
        height: (@logoh/20em);
    }

    &__mod {}

    &__contactinfo {
        .flex;
        .jc(center);
        .ai(center);
        gap: unit((20/20em), em);
        position: relative;
        z-index: 1;

        @media only screen and (min-width:1024px) {
            padding: unit((10/20em), em) 0 0;
            .jc(flex-end);
            margin-bottom: unit((20/20), em);
        }
    }

    &__nav {
        @media only screen and (max-width:1023px) {
            position: absolute;
            top: calc(100% + 0px);
            right: 0;
            transform: translate(100%, 0);
            visibility: hidden;
            opacity: 0;
            text-align: left;
            width: 320px;
            background-color: var(--secondary);
            transition: transform .33s ease,
                visibility .33s ease,
                opacity .33s ease;
        }

        @media only screen and (max-width:665px) {
            width: 100vw;
            text-align: center;
        }

        @media only screen and (min-width:1024px) {
            position: relative;
            top: auto;
            right: auto;
            width: auto;
            opacity: 1;
            transform: none;
            visibility: visible;
        }

        &-links {
            .flex;
            .fdir(column);
            gap: (5/20em);
            list-style: none;
            padding: 44px 0;

            @media only screen and (min-width:1024px) {
                padding: 0;
                .fdir(row);
            }
        }

        &-item {
            .show;
            position: relative;

            @media only screen and (max-width:1023px) {
                &--clicked {
                    .main-header__nav-sub-links {
                        visibility: visible;
                    }

                    .main-header__nav-sub-item {
                        height: 44px;
                    }
                }
            }

            @media only screen and (min-width:1024px) {

                // show sublinks
                .main-header__nav-link:focus-visible+ul,
                ul:focus-within,
                &:hover>ul {
                    width: auto;
                    height: auto;
                    margin: 0;
                    clip: auto;
                    pointer-events: auto;
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            // a[id], button[id] active state
            &--active,
            &--clicked,
            &:hover,
            &:focus-within {
                .main-header__nav-link {
                    color: var(--primary);
                    .bc(var(--primary-light));
                }
            }

            // arrow
            &:hover,
            &:focus-within,
            &--clicked {
                .main-header__nav-link .arrow {
                    transform: rotate(-90deg);
                }
            }
        }

        &-link {
            @lh: 44;
            @fs: 15;
            .show;
            text-decoration: none;
            background: none;
            border: none;
            border-radius: 0px;
            margin: 0;
            padding: 0 unit((20/@fs), em);
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: inherit;

            @media only screen and (max-width:1023px) {
                line-height: 44px;
                color: #fff;
                .fs(14px);
            }

            @media only screen and (min-width:1024px) {
                .lh((@lh/@fs));
                color: var(--text);
                .fs(~'clamp( 12px,'(@fs/20em) ~','(@fs*1px) ~')');
            }

            span,
            .arrow {
                pointer-events: none;
            }

            .arrow {
                .ib;
                .va(middle);
                width: 1em;
                transition: transform .33s ease
            }

            &:focus {
                outline: 1px solid var(--primary);
                outline-offset: 0px;
            }
        }

        &-sub-links {
            .bc(var(--primary));
            list-style: none;
            visibility: hidden;
            transition: visibility .33s ease;

            @media only screen and (min-width:1024px) {
                position: absolute;
                top: calc(100% + 0em);
                left: 0;
                padding: unit((20/20), em) 0;
                visibility: visible;
                transition: transform .15s ease-in-out,
                    opacity .15s ease-in-out;

                // hidden 
                // width: 1px;
                // height: 1px;
                // margin: -1px;
                // clip: rect(0 0 0 0);
                transform: translate(0, 1em);
                opacity: 0;
            }
        }

        &-sub-item {
            overflow: hidden;
            height: 0px;
            transition: height .33s ease;

            @media only screen and (min-width:1024px) {
                height: auto;
            }

            &--active {}
        }

        &-sub-link {
            @lh: 25;
            @fs: 13;

            .fs(~'clamp( 12px,'(@fs/20em) ~','(@fs*1px) ~')');
            .show;
            text-decoration: none;
            color: #fff;
            white-space: nowrap;
            padding: 0 unit((20/@fs), em);
            transition: background-color .33s ease;

            @media only screen and (max-width:1023px) {
                .lh(44px);
            }

            @media only screen and (min-width:1024px) {
                .lh((@lh/@fs));
            }

            &--active,
            &:focus,
            &:hover {
                .bc(var(--secondary));
            }

            &:focus {
                outline-color: var(--secondary);
                outline-offset: -1px;
            }
        }

        // active
        &--active {
            transform: translate(0, 0);
            visibility: visible;
            opacity: 1;
        }
    }

    &__menu-toggle {
        font: inherit;
        .if;
        .ai(center);
        .fdir(column);
        .jc(center);
        gap: 6px;
        .va(top);
        width: 44px;
        height: 44px;
        .buttonreset;
        position: relative;

        @media only screen and (min-width:1024px) {
            .hide;
        }

        &::before {
            content: '';
            .overlay;
            background-color: var(--primary);
            transition: transform .33s ease,
                background-color .33s ease;
            z-index: -1;
        }

        span {
            display: block;
            width: 75%;
            height: 4px;
            .bc(#fff);
            transition: transform .33s ease,
                background-color .33s ease;
            transform-style: preserve-3d;

            &:nth-child(2) {
                transition-delay: .1s, 0s;
            }
        }

        &--active {
            &::before {
                transform: rotate(180deg);
            }

            span {
                &:nth-child(1) {
                    transform: translate3d(0, 10px, 0) rotate(-45deg);
                    transition-delay: .1s;
                }

                &:nth-child(2) {
                    transform: scaleX(0);
                    transition-delay: 0s;
                }

                &:nth-child(3) {
                    transform: translate3d(0, -10px, 0) rotate(45deg);
                    transition-delay: .1s;
                }
            }
        }
    }

    #theme-toggle {
        .ib;
        .va(top);
        width: 44px;
        height: 44px;
        border: 0;
        padding: 0;
        margin: 0;
        font: inherit;
        line-height: 0;
        color: #fff;
        background: var(--primary);
        transition: color 0.33s ease,
            background-color 0.33s ease;
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;

            path {
                transition: opacity 0.33s ease,
                    transform 0.33s ease;
                transform-origin: center;
            }
        }
    }
}

:root #theme-toggle {
    .moon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .sun {
        opacity: 0;
        transform: rotate(180deg);
    }
}

:root.dark #theme-toggle {
    .moon {
        opacity: 0;
        transform: rotate(-180deg);
    }

    .sun {
        opacity: 1;
        transform: rotate(0deg);
    }
}